
@{
    ViewBag.Title = "TipoPrestamo";
    Layout = "~/Views/Shared/AdminView.cshtml";
}

<head>
    <title>Editoriales</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="Shortcut Icon" type="image/x-icon" href="assets/icons/book.ico" />
    <script src="js/sweet-alert.min.js"></script>
</head>

<script src="~/Scripts/js_libros.js"></script>
<script>
    var UrlBorrarTP = '@Url.Action("eliminarTP", "Admin")'
</script>
<div class="container-fluid">
    <h2 class="text-center all-tittles" style="clear: both; margin: 25px 0;">Modelos de Prestamo</h2>
    <a href="~/admin/RegistroTipoP" class="btn btn-outline-dark user-select-auto" data-placement="top">Agregar tipo prestamo</a>
    <br>
    <br>
    <div class="div-table" style="margin:0 !important;">
        <div class="div-table-row div-table-header" style="background-color:#DFF0D8; font-weight:bold;">
            <div class="div-table-cell">Modelo de Prestamo</div>
            <div class="div-table-cell">Actualizar</div>
            <div class="div-table-cell">Eliminar</div>
        </div>

        @foreach (var item in Model)
        {
            if (item.Activos == 1)
            {
                <div class="div-table-row div-table-row-list" id="fila-item.@item.idTipoPrestamo">
                    <div class="div-table-cell">@item.ModeloPrestamo</div>
                    <div class="div-table-cell">
                        <a href="~/admin/RegistroTipoP?idTP=@item.idTipoPrestamo" class="btn btn-success">Editar</a>
                    </div>
                    <div class="div-table-cell">
                        <a href="javascript:eliminarTP(@item.idTipoPrestamo)" class="btn btn-danger">Eliminar</a>
                    </div>
                </div>
            }
        }
    </div>
</div>
